<div class="container-fullwidth">
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">TP 2 Kelompok 2</a>
      </div>
    </div>
  </nav>
</div>
