{% extends "layout/base.html" %}
{% block content %}

<div class="container-fluid">
    
  <div class="row">
    <div class="col-lg-12 text-left welcome">
        <h1> Selamat Datang, {{firstCompany.nama}}! </h1>
    </div>
  </div>  

  <div class="row">
    <div class="col-sm-8 col-md-6 col-lg-4">
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4" id="image">

      <img src={{firstCompany.foto}} width="200" height="200">

    </div>
    <div class="col-sm-2 col-md-3 col-lg-4">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-6 text-right text-xs-center" id="b2">
        <button class="btn btn-primary btn-lg" id="button_forum" onclick="location.href='/company/forum/'"> Lihat Forum </button>      
    </div>
    <div class="col-xs-12 col-md-6 col-lg-6 text-left text-xs-center" id="b3">
        <button class="btn btn-primary btn-lg" id="button_cari"> Cari Mahasiswa </button>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-lg-12 tables">
      
        <table class='borderless halo'>
        <tr>
            <td style="width">Tipe Perusahaan: </td>
            <td id='tipe'> {{firstCompany.tipe}} </td>
        </tr>

        <tr>
            <td>Jumlah Pegawai: </td>
            <td id='jumlah'> {{firstCompany.jumlah_pegawai}} </td>
        </tr>
   
        <tr>
            <td>Web Perusahaan: </td>
            <td id='web'> <a href={{firstCompany.web}}> {{firstCompany.web}} </a> </td>
        </tr>

        <tr>
            <td>Spesialitas: </td>
            <td id='spesialitas'> {{firstCompany.spesialitas}} </td>
        </tr>

        <tr>
            <td>Lokasi: </td>
            <td id='lokasi'> {{firstCompany.lokasi}} </td>
        </tr>

        </table>
        
    </div>
  </div>

</div>
  
{% endblock %}