<div class="container-fullwidth">
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">TP 2 Kelompok 2</a>
      </div>

      <ul class="nav navbar-nav">
        <li class="active"><a href="{% url 'profil:index' %}">Profil</a></li>
        <li class="active"><a>Logout</a></li>
      </ul>
    </div>
  </nav>
</div>
