{% extends "p_forum/layout/base.html" %}
{% block content %}
<section name="input-list" id="input-list">
    <div class="container">
    </div>
</section>
<section name="my-status" id="my-status">
    <div class="container">
        <h2 class="page-title">BukaHati Forum</h2>
        <br>
        <div class="flex">
            {% if forum %}
                {% for data in forum %}
                    <div class="flex-item">
                        
                        <div class="forum-list">
                          <p class="date">{{data.created_date}}</p>
                          <div>
                            <h4 style="font-size: 20px;font-style: italic;"><img class="profpic" src={{data.pp}} align="left" alt = "Me"><span class="title">{{data.title}}</span><br>{{data.name}}</h4>
                          </div>
                            <div class="forum-body">
                                {{data.body}}
                            </div>
                       </div>
                    {% if data.comments %}
                      {% for comment in data.comments.all %}
                      <div class="comment-item">
                        <div class="comment-list">
                        <p class="date">{{comment.created_date}}</p>
                        <div>
                        <h4 style="font-size: 20px"><img class="profpic" src={{comment.pp}} align="left" alt = "Me">{{comment.name}}</h4>
                        </div>
                        <div class="comment-body">
                                {{comment.body}}
                            </div>
                        </div>
                      </div>
                      {% endfor %}
                    {% endif %}
                    <div class="submit-comment">
                      <form method="POST" action="add_comment/" autocomplete="off">
                        {% csrf_token %}
                        <input name="post" type="hidden" value={{data.pk}}>
                        <textarea class="input-comment" name="body" id="comment" type="text" placeholder="Ketik Tanggapan Anda"></textarea>
                        <button type="submit" class="postComment">Kirim</button>
                      </form>
                    </div>
                  </div>
                <hr>
                {% endfor %}
            {% else %}
            <div class="alert alert-danger text-center">
                <strong>Oops!</strong> Tidak ada forum :v
            </div>
            {% endif %}
            <form method="POST" action="add_forum/" autocomplete="off">
              {% csrf_token %}
              <h4 style="color: white">Title :</h4>
              <input class="input-title" name="title" id="comment" type="text" placeholder="Title">
              <h4 style="color: white">Body :</h4>
              <textarea class="input-forum" name="body" id="comment" type="text" placeholder="Body"></textarea>
              <button type="submit" class="postForum">Create New Forum</button>
            </form>
        </div>
    </div>
    <br>
</section>
{% endblock %}