{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="{{author}}">
    <!-- bootstrap csss -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700">

    <link rel="stylesheet" href="https://code.jquery.com/qunit/qunit-2.4.1.css">


    <title>
        Forum
    </title>
</head>
<body>
    <div id="qunit" hidden></div>
    <header>
        <div class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                      <span class="icon-bar"></span>

                  </button>
                  <a class="navbar-brand" href="#">Forum</a>
              </div>
              <div class="navbar-collapse collapse">
                  <ul class="nav navbar-nav navbar-right ">
                      <li><a href="#" onclick="facebookLogout()">LOGOUT</a></li>
                  </ul>
              </div>

          </div>
      </div>

    </header>

    <content>
        <div class='container'>
            <div class='row'>
                {% block content %}
                    <!-- content goes here -->
                {% endblock %}
            </div>
            <hr>
        </div>
    </content>

    <footer>
        <h2 class='panel-title' style="text-align:center">Forum</h2>
    </footer>
    <!-- Jquery n Bootstrap Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
    {% block javascript %}

    {% endblock %}
</body>
</html>
