*{
	font-family: "Varela Round";
}

body{
	background-color: #65352f;
}

hr{
 	border-width: 2px;
 	border-color: white;
 }
 .page-title{
	color:white;
}
.title{
	font-size: 33px;
	font-style: normal;
}
.forum-body, .comment-body{
	overflow-wrap: break-word;
    padding: 0px 20px;
}

.forum-list, .comment-list{
	overflow: auto;
	background: white
}

.comment-list, .submit-comment {
    margin: 20px 0px 20px 60px;
}

.profpic{
	height: 80px;
    width: 80px;
    margin-left: 10px;
    margin-bottom: 17px;
    margin-right: 20px;
}

.postComment {
	margin-top: 10px;
    background: #2790d6;
    border-radius: 4px;
    color: #ffffff;
    font-size: 15px;
    padding: 4px 10px 4px 10px;
    float: right;
}

.date{
	color: #e7fafa;
	padding: 4px;
	background: #1998ed;
}

.flex-item {
    overflow: auto;
    margin: 10px 0px;
}

.forum-list, .comment-list{
	border-color: darkgrey;
	border-style: solid;
	border-width: 1px;
	padding: 0px 0px 10px 0px;
}
.input-title{
	width: 100%;
    height: 50px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}
.input-comment, .input-forum{
	width: 100%;
    min-height: 100px;
    height: auto;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    overflow: auto;
}

.postForum {
	width: 100%;
	height: 55px;
	font-size: 20px;
	margin-top: 10px;
    background: #2790d6;
    border-radius: 4px;
    color: #ffffff;
    padding: 4px 10px 4px 10px;
}