*{
	font-family: "Droid Sans"
}

hr{
 	border-width: 1px;
 	border-color: grey;
 }

.forum-body {
    padding-left: 10px;
}

.comment-list, .submit-comment {
    margin: 20px 0px 20px 40px;
}
.profpic{
	height: 50px;
    width: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.postComment {
    background: #2790d6;
    border-radius: 4px;
    color: #ffffff;
    font-size: 15px;
    padding: 4px 10px 4px 10px;
    float: right;
}

.date{
	color: #e7fafa;
	padding: 4px;
	background: #1998ed;
}

.flex-item {
    overflow: auto;
    margin: 10px 0px;
}

.forum-list, .comment-list{
	border-color: darkgrey;
	border-style: solid;
	border-width: 1px;
	padding: 0px 0px 10px 0px;
}

.input-comment{
	width: 100%;
    height: 80px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

