body{
	font-family: 'Varela Round';
	background-color: #65352f;
}

h1{
	color: white;
	font-weight: bold;
	font-size: 45px;
}

#image{
	text-align: center;
	padding-bottom: 30px;
}

.btn{
	background-color: #00d6bb;
	border: none;
}

.btn:hover{
	background-color: #00CCB2;
}

#b3{
	padding: 5px;
}

#b2{
	padding: 5px;
}

.tables{
	padding: 30px;
}

table{
	font-size: 17px;
	margin: 0 auto;
}

td{
	height: 35px;
}

.halo{
	width: 40%;
	color: white;
}

.panel-footer{
	text-align: right;
}

@media (max-width: 1000px) {

  .text-xs-center {
    text-align: center;
  } 
}